@using ClydesTakeoutPrototype.Data
@using ClydesTakeoutPrototype.Models.OrderModels
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}

<style>
    .menu-header {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/clydes.jpg);
        min-height: 100%;
        background-position: center;
        background-size: cover;
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 90px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li.item-list { 
        background: white; 
    }

    li:nth-child(odd).item-list { 
        background: WhiteSmoke; 
    }
</style>

<div class="menu-header py-4">
    <h1>Orders</h1>
</div>

<div class="row pt-4">
    <div class="col-3">
        <h4>Order Id</h4>
    </div>
    <div class="col-3">
        <h4>Pickup Time</h4>
    </div>
    <div class="col-3">
        <h4>Price</h4>
    </div>
    <div class="col-3">
        <h4>Select</h4>
    </div>
</div>
<hr />
<ul>
    @foreach (var order in Model)
    {
        <li class="item-list">
            <div class="row py-2">
                <div class="col-3">
                    <p>@order.ID</p>
                </div>
                <div class="col-3">
                    <p>@order.PickupTime</p>
                </div>
                <div class="col-3">
                    <p>@order.Total.ToString("c2")</p>
                </div>
                <div class="col-3">
                    <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="OrderDetails" asp-route-id="@order.ID">View Order</a>
                </div>
            </div>
        </li>
    }
</ul>
