@model ClydesTakeoutPrototype.Models.OrderModels.Entree

@{
    ViewData["Title"] = "EntreeItem";
}

<img class="img-fluid" src="~/images/menu_items/@Model.ImageURL" />
<h1>@Model.Name</h1>


<hr />
<p>@Model.Description</p>
<p>Price: $@Model.Price</p>

<hr />
<h4>Options</h4>
    
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Orders" asp-action="AddEntreeToOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" class="form-control" data-id="@Model.ID" hidden />
            <div class="form-group">
                <label asp-for="SpecialInstructions" class="control-label">Special Instructions (ie. No pickles)</label>
                <textarea asp-for="SpecialInstructions" class="form-control"></textarea>
                <span asp-validation-for="SpecialInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add to Order" class="btn btn-outline-primary" />
                <a class="btn btn-outline-danger" asp-controller="Menus" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>


