@using ClydesTakeoutPrototype.Models.MenuModels
@model ClydesTakeoutPrototype.Models.MenuModels.Menu

@{
}

<h1>Menu</h1>

@foreach (var item in Model.Items)
{
    <div class="row">
        <div class="col-3">
            <img class="img-fluid" src="~/images/menu_items/@item.ImageURL"/>
        </div>
        <div class="col-9">
            <h2>@item.Name</h2> @*item name*@
            <p>@item.Description</p>
            <p>Price: $@item.Price</p>
            <a class="btn btn-outline-primary" asp-controller="Menus" asp-action="MenuItem" asp-route-id="@item.ID">Add to Order</a>
        </div>
    </div>
}