@using ClydesTakeoutPrototype.Models.OrderModels
@model ClydesTakeoutPrototype.Models.OrderModels.Item

@{
    ViewData["Title"] = Model.Name;
}


<img src="~/images/menu_items/@Model.ImageURL" class="img-fluid"/>
 
<h1>@Model.Name</h1>

<div>
    <h3>Options</h3>
    <hr />
    <form class="form-check" asp-action="">
        <div class="form-group">
            <label class="control-label">Side</label>
            @Html.DropDownList("Sides",
                        new SelectList(Enum.GetValues(typeof(SideType))),
                        "Select Side")
        </div>
        <div class="form-group">
            <label class="control-label">Drink</label>
            @Html.DropDownList("Drinks",
                        new SelectList(Enum.GetValues(typeof(DrinkType))),
                        "Select Drink")
        </div>
        <input class="btn btn-outline-primary" value="Add to Order" type="submit">
        <a class="btn btn-outline-danger" asp-controller="Menus" asp-action="Index">Cancel</a>
    </form>
